body {
    font-family: sans-serif;
    background-color: #f7f7f7;
    color: #333;
    padding: 20px;
  }
  
  header, footer {
    background-color: #e0e0e0;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
  }
  
  h1 {
    color: #2c3e50;
  }
  
  ul {
    list-style: circle;
    margin-left: 20px;
  }
   /** start dictionary.html **/
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f0f0f0;
    font-weight: bold;
  }
 
  /** stop dictionary.html **/

  /**start page_form**/

  .page_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    
  }
  .box_text {
    border: 1px red solid;
  }
  .box_password {
    border: 1px red solid;
  }
  .important {
    border: 1px red dotted;
  }
  .box_textarea {
    border: 1px red solid;
  }
  .box_checkbox {
    border: 1px red solid;
  }
  .box_radio {
    border: 1px red solid;
  }
  .box_select {
    border: 1px red solid;
  }